<!DOCTYPE html>
<html>
  <head>
    <title>MoreInfo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <td>Username: <%= user.username %></td>
      </tr>
      <tr>
        <td>Grade: <%= user.grade %></td>
      </tr>
      <tr>
        <td>Major: <%= user.major %></td>
      </tr>
      <tr>
        <td>From: <%= user.from %></td>
      </tr>
      <br>
      <tr>
        <td><%= user.assignment %></td>
      </tr>
    </table>
  </body>
</html> 